body {
    font-family: 'Roboto', sans-serif;   
}

#page1, #page2, #page3 {
    min-height: 1000px;
    padding: 40px 15px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;
    text-align: center;
}

h1 {
  text-align: center;
}

.next {
  position: absolute;
  bottom: 40px;
  margin: 0 auto;
  font-size: 30px;
  left: 40%;
}

button {
  cursor: pointer;
}

.presentation {
    text-align: center;
}

/** DRAG AND DROP **/
#pointer {
  margin: 0 auto;
}

.message, .message-cat, .message-dog, .message-snail{
  display: block;
  min-height: 20px;
  width: 100%;
  text-align:center;
}

#dropzone-cat {
  position: absolute;
  width: 310px;
  top: 0;
  bottom: 0;
}
  
#dropzone-dog {
  position: absolute;
  width: 315px;
  top: 0;
  bottom: 0;
  right: 0;
}

#dropzone-snail {
  height: 90px;
  position: absolute;
  width: 90px;
  bottom: 60px;
  right: 35px;
}

.dropzone-container {
  margin: 0 auto;
  width: 700px;
  height: 680px;
  position: relative;
  display: block;
  background-image: url(../img/cat-dog.png);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

.dropzone {
  border: solid 2px;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-image: url(../img/opacify.png);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  z-index: 999;
  display: block;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  background-image: url(../img/slider.png);
  background-position: top left;
  background-size: 80px;
  background-repeat: no-repeat;
}



/* RESIZE */


.resize-drag, .resize-drag-2, .resize-drag-3{
  background-color:#000;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 4px 4px 0 0;
  padding: 20px;
  width: 25px;
  /* This makes things *much* easier */
  box-sizing: border-box;
  border-top: 4px solid dodgerblue;
}

.resize-drag {
    position: absolute;
    bottom: 138px;
    left: 120px;
}

.resize-drag-2 {
  position: absolute;
  bottom: 138px;
  left: 315px;
}

.resize-drag-3 {
  position: absolute;
  bottom: 138px;
  left: 545px;
}

.resize-container {
  display: inline-block;
  width: 700px;
  height: 800px;
  background-image: url(../img/diagram.png);
  background-position: center;
  background-size: 700px;
  background-repeat: no-repeat;
  position: relative;
}

.message-diagram {
  display: block;
  position: absolute;
  left: 170px;
  bottom: 200px;
}

.message-diagram-accepted {
  display: block;
  position: absolute;
  left: 170px;
  bottom: 180px;
  text-transform: uppercase;
}

/*** SLDIER **/

/* the slider bar */
.slider {
  position: relative;
  width: 300px;
  height: 25px;
  margin: 250px 20px;
  background-color: #000000;
  border-radius: 0.5em;
  box-sizing: border-box;
  font-size: 22px;
  -ms-touch-action: none;
  touch-action: none;
  display: inline-block;
}

/* the slider handle */
.slider:before {
  content: "";
  display: block;
  position: relative;
  top: -0.5em;
  background-image: url(../img/slider.png);
  background-position: top left;
  background-size: 34px;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
  margin-left: -1em;
  border: solid 0.25em #fff;
  border-radius: 1em;
  background-color: inherit;
  box-sizing: border-box;
}

/* display the value */
.slider:after {
  content: attr(data-value);
  position: absolute;
  top: -1.5em;
  width: 2em;
  line-height:1em;
  margin-left: -1em;
  text-align: center;
  font-size: 14px;
  color: gray;
}


.img-left-1 {
  background-image: url(../img/achieve.png);
  background-position: top left;
  background-size: 300px;
  background-repeat: no-repeat;
  width: 250px;
  height: 100px;
  position: absolute;
  transform: translateY(200%);
}

.img-right-1 {
  background-image: url(../img/social.png);
  background-position: top left;
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 250px;
  height: 100px;
  position: absolute;
  transform: translateY(200%);
}

.img-left-2 {
  background-image: url(../img/creativity.png);
  background-position: top left;
  background-size: 300px;
  background-repeat: no-repeat;
  width: 250px;
  height: 100px;
  position: absolute;
  transform: translateY(200%);
}

.img-right-2 {
  background-image: url(../img/logic.png);
  background-position: top left;
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 250px;
  height: 100px;
  position: absolute;
  transform: translateY(200%);
}

.img-left-3 {
  background-image: url(../img/patience.png);
  background-position: top left;
  background-size: 300px;
  background-repeat: no-repeat;
  width: 250px;
  height: 100px;
  position: absolute;
  transform: translateY(200%);
}

.img-right-3 {
  background-image: url(../img/woozy.png);
  background-position: top left;
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 250px;
  height: 100px;
  position: absolute;
  transform: translateY(200%);
}