body {
    
    text-decoration-color: black
}

/*.dropzone {
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}*/
.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drag-drop {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot {
  height: 500px;
  width: 500px;
  border-color: black;
  border-style: dotted;
  border-width: thin;
  border-radius: 50%;
  display: inline-block;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}

.drop-target {
  background-color: hotpink;
  }

  .tap-target {
    width: 50%;
    height: 100%;
    padding: 10%;
    margin: 10% auto;
  
    border-radius: 100%;
  
    font-size: 1.125em;
    text-align: center;
    color: #fff;
    background-color: #29e;
  
    cursor: pointer;
  
    transition: all 0.3s;
  }
  
  .drag-drop.switch-bg {
    background-color: black;
  }
  
  .drag-drop.large {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  
  
  
  
  
  
