/** DRAG AND DROP **/

#dropzone-cat {
    position: absolute;
    width: 310px;
    top: 0;
    bottom: 0;
  }
  
  #dropzone-dog {
    position: absolute;
    width: 315px;
    top: 0;
    bottom: 0;
    right: 0;
  }

  #dropzone-snail {
    height: 90px;
    position: absolute;
    width: 90px;
    bottom: 60px;
    right: 35px;
  }

  .dropzone-container {
    width: 700px;
    height: 680px;
    position: relative;
    display: block;
    margin: 20px 0 50px 0 ;
    background-image: url(img/cat-dog.png);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .dropzone {
    border: solid 2px;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
  }
  
  .drop-active {
    border-color: #aaa;
  }
  
  .drop-target {
    background-color: #aaa;
    border-color: #fff;
    border-style: solid;
  }
  
  .drag-drop {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 999;
    display: block;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    background-image: url(img/slider.png);
    background-position: top left;
    background-size: 80px;
    background-repeat: no-repeat;
  }
  

  /* RESIZE */


  .resize-drag, .resize-drag-2, .resize-drag-3, .resize-drag-4 {
    background-color:#000;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 4px 4px 0 0;
    padding: 20px;
    margin: 30px 20px;
    width: 25px;
    /* This makes things *much* easier */
    box-sizing: border-box;
  }
  
  .resize-drag {
      position: absolute;
      bottom: 77px;
      left: 40px;
  }
  
  .resize-drag-2 {
      position: absolute;
      bottom: 77px;
      left: 124px;
  }
  
  .resize-drag-3 {
      position: absolute;
      bottom: 77px;
      left: 225px;
  }
  
  .resize-drag-4 {
      position: absolute;
      bottom: 77px;
      left: 320px;
  }
  
  .resize-container {
    display: inline-block;
    width: 100%;
    height: 500px;
    background-image: url(img/test-diagram.png);
    background-position: top left;
    background-size: 450px;
    background-repeat: no-repeat;
    position: relative;
  }
  

/*** SLDIER **/
  
  /* the slider bar */
  .slider {
    position: relative;
    width: 100%;
    height: 1em;
    margin: 1.5em auto;
    background-color: #000000;
    border-radius: 0.5em;
    box-sizing: border-box;
    font-size: 3vmin;
    -ms-touch-action: none;
    touch-action: none;
  }
  
  /* the slider handle */
  .slider:before {
    content: "";
    display: block;
    position: relative;
    top: -0.5em;
    background-image: url(img/slider.png);
    background-position: top left;
    background-size: 34px;
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
    margin-left: -1em;
    border: solid 0.25em #fff;
    border-radius: 1em;
    background-color: inherit;
    box-sizing: border-box;
  }
  
  /* display the value */
  .slider:after {
    content: attr(data-value);
    position: absolute;
    top: -1.5em;
    width: 2em;
    line-height:1em;
    margin-left: -1em;
    text-align: center;
    font-size: 14px;
    color: gray;
  }
  
  body { margin: 5% 10%; }