#dropzone-cat {
    position: absolute;
    width: 310px;
    top: 0;
    bottom: 0;
  }
  
  #dropzone-dog {
    position: absolute;
    width: 315px;
    top: 0;
    bottom: 0;
    right: 0;
  }

  #dropzone-snail {
    height: 90px;
    position: absolute;
    width: 90px;
    bottom: 60px;
    right: 35px;
    border: none;
  }

  .dropzone-container {
    width: 680px;
    height: 680px;
    position: relative;
    display: block;
    margin: 20px 0 50px 0 ;
    background-image: url(img/cat-dog.png);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .dropzone {
    border: solid 2px;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
  }
  
  .drop-active {
    border-color: #aaa;
  }
  
  .drop-target {
    background-color: #29e transparent;
    border-style: solid;
  }
  
  .drag-drop {
    display: inline-block;
    position:relative;
    width: 80px;
    height: 80px;
    z-index: 999;
    display: block;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    background-image: url(img/slider.png);
    background-position: top left;
    background-size: 80px;
    background-repeat: no-repeat;
  }
  
