body {
    font-family: 'Roboto', sans-serif;   
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 25px;
}

.wrapper {
  text-align: center;
}

.button {
  margin: auto;
  font-size: 20px;

}

.picturewrapper {
  padding-top: 120px; 
  text-align: center;
}

.dropzone {
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
  position: relative;
}

.wrong-drop {
  color: #000;
  background-color: red;
}


.grid-container {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: auto auto auto;
 
  padding: 10px;
  justify-content: space-around;
  align-content: center;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  
}
